In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [24]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [25]:
df = pd.read_csv('Advertising.csv')

In [26]:
df.head()

      TV  radio  newspaper  sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

# Cross Validation with cross_validate

The cross_validate function differs from cross_val_score in two ways:

It allows specifying multiple metrics for evaluation.

It returns a dict containing fit-times, score-times (and optionally training scores as well as fitted estimators) in addition to the test score.

For single metric evaluation, where the scoring parameter is a string, callable or None, the keys will be:
        
        - ['test_score', 'fit_time', 'score_time']

And for multiple metric evaluation, the return value is a dict with the following keys:

    ['test_<scorer1_name>', 'test_<scorer2_name>', 'test_<scorer...>', 'fit_time', 'score_time']

return_train_score is set to False by default to save computation time. To evaluate the scores on the training set as well you need to be set to True.

In [27]:
## CREATE X and y
X = df.drop('sales',axis=1)
y = df['sales']

# TRAIN TEST SPLIT
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=101)

# SCALE DATA
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X_train)
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

**Create Model**

In [28]:
from sklearn.linear_model import Ridge

In [29]:
# Poor Alpha Choice on purpose!
model = Ridge(alpha=100)

In [30]:
from sklearn.model_selection import cross_validate

In [31]:
scores = cross_validate(model, X_train, y_train, y_train,
                       scoring=['neg_mean_squared_error','neg_mean_absolute_error'],
                       cv=10)

In [32]:
scores = pd.DataFrame(scores)

In [33]:
scores

,fit_time,score_time,test_neg_mean_squared_error,test_neg_mean_absolute_error
0,0.001401,0.001004,-6.060671,-1.810212
1,0.001258,0.004203,-10.627031,-2.541958
2,0.001294,0.000906,-3.993426,-1.469594
3,0.001287,0.000921,-5.009494,-1.862769
4,0.001259,0.000897,-9.141800,-2.520697
5,0.002277,0.001296,-13.086256,-2.459995
6,0.001983,0.002145,-3.839405,-1.451971
7,0.001911,0.001296,-9.058786,-2.377395
8,0.001857,0.001310,-9.055457,-2.443344
9,0.001716,0.001199,-5.778882,-1.899797

In [34]:
scores.mean()

fit_time                        0.001624
score_time                      0.001518
test_neg_mean_squared_error    -7.565121
test_neg_mean_absolute_error   -2.083773
dtype: float64

**Adjust model based on metrics**

In [35]:
model = Ridge(alpha=1)

In [36]:
scores = cross_validate(model, X_train, y_train, y_train,
                       scoring=['neg_mean_squared_error','neg_mean_absolute_error'],
                       cv=10)

In [37]:
scores = pd.DataFrame(scores)

In [38]:
scores

,fit_time,score_time,test_neg_mean_squared_error,test_neg_mean_absolute_error
0,0.001661,0.001762,-2.962508,-1.457174
1,0.001671,0.000828,-3.057378,-1.555308
2,0.001087,0.000796,-2.173740,-1.238770
3,0.001719,0.000777,-0.833034,-0.768938
4,0.001172,0.000883,-3.464018,-1.434489
5,0.001447,0.000772,-8.232647,-1.494316
6,0.001073,0.000695,-1.905864,-1.081362
7,0.001104,0.000708,-2.765048,-1.250011
8,0.001060,0.000874,-4.989505,-1.580971
9,0.001770,0.001382,-2.846438,-1.223326

In [39]:
scores.mean()

fit_time                        0.001376
score_time                      0.000948
test_neg_mean_squared_error    -3.323018
test_neg_mean_absolute_error   -1.308467
dtype: float64

**Final Evaluation (Can no longer edit parameters after this!)**

In [40]:
from sklearn.metrics import mean_squared_error

In [41]:
model.fit(X_train,y_train)

Ridge(alpha=1)

In [42]:
y_final_pred = model.predict(X_test)

In [43]:
mean_squared_error(y_test,y_final_pred)

2.3190215794287514